<script tpye="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: currentUser
    ).html_safe %>
  <% end %>
</script>

<div id="root"></div>
