.pin-show-page {
  width: 100%;
  padding-top: 50px;
  background-color: inherit;
}

.pin-details {
  position: relative;
  background-color: #fff;
  display: block;
  width: 50%;
  min-width: 300px;
  padding-left: 30px;
  padding-right: 40px;
  font-size: 24px;
  align-items: center;
  line-height: 1.5;
  text-align: center;
  margin-left: 21%;
  padding-top: 20px;
  border-radius: 15px;
  padding-bottom: 20px;
}

.index-link {
  font-size: 20px;
  width: 19px;
  padding: 5px;
  float: right;
  text-align: center;
  font-weight: bold;
  margin-right: 20px;
}

.index-link > a, .index-link:visited {
  color: inherit;
  text-decoration: none;
}

.title-header {
  font-size: 32px;
  font-weight: bold;
}

.image_show {
  width: 100%;
  min-width: 250px;
  max-width: 1000px;
  display: block
}

.pin-details > img {
  width: 100% !important;
  border-radius: 15px;
  margin-top: 7px;
  margin-top: 7px;
}

.pin-show-link-button {
  padding: 5px;
  float: right;
  text-align: center;
  font-weight: bold;
  width: 70px;
  height: 32px;
  color: black;
}

strong {
  font-weight: bold;
}

.pin-show-link-button > a, .pin-show-link-button:visited,
strong > a, strong:visited {
  color: black;
  text-decoration: none;
}

.index-pins > h3 {
  font-size: 34px;
  color: #A6ACAF;
  font-weight: bold;
  text-align: center;
}

.index-pins {
  background-color: #EDEDED;
  padding-top: 30px;
}

.edit-form > h3 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding-top: 3px;
  margin-bottom: 10px;
}

.edit-form > label {
  align-content: flex-start;
}

.edit-form > input,
.edit-form > textarea {
  align-content: flex-end;
}

.edit-form {
  text-align: center;
  font-weight: bold;
  color: #979696;
  line-height: 1;
}

.edit-form > form > input {
  width: 100%;
  display: block;
  text-align: center;
  margin: auto;
  border: none;
  border-bottom: solid 2px #3F88B9;
  transition: border 0.3s;
  line-height: 1.6
}

.edit-form > form > input:focus {
  outline: 0;
  cursor: pointer;
  box-shadow: none;
  border-bottom: solid 3px #1E84A4
}

.edit-form > form > textarea {
  max-width: 174px;
  border-radius: 4px;
  border: solid 1px #1E84A4
}

.ReactTags__tag {
    background-color: #C1E6F2;
    color: black !important;
    padding: 2px;
    margin: 3px;
}

.ReactTags__selected {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 8px;
  justify-content: center;
}

.ReactTags__tagInputField {
  width: 100%;
  display: block;
  text-align: center;
  margin: auto;
  border: none;
  border-bottom: solid 2px #3F88B9;
  transition: border 0.3s;
  line-height: 1.6;
  align-content: flex-end;
}

.ReactTags__tagInputField:focus {
  outline: 0;
  cursor: pointer;
  box-shadow: none;
  border-bottom: solid 3px #1E84A4
}

.ReactTags__remove {
  color: red;
  font-size: 21px;
  padding: 3px;
}

.interactive-pin-buttons {
  position:relative;
}

.edit-button {
  background-image: image_url('edit.png');
  opacity: 0.6;
  padding: 6px;
  height: 35px;
  width: 35px;
  background-size: 100%;
  height: 15px;
  width: 15px;
  position: absolute;
  left: 8px;
  top: 5px;
}

.edit-button:hover {
  background-color: #D1D0D0;
  cursor: pointer;
  padding: 7px;
  border-radius: 10px;
  border: 4px solid #D1D0D0;
}
