.add-button-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.popover-form-button {
  position: relative;
}

.popover-form-button > Button {
  height: 40px;
  width: 40px;
  z-index: 100;
  border-radius: 25px;
  font-size: 30px;
  border: 1px solid #3F88B9;
  background-color: #fff;
  color: #979696;
  cursor: pointer;
}

.pin-index-list {
  padding: 15px;

// This column solution is thanks to  Roko C. Buljan at Stack Overflow
// @ this article https://stackoverflow.com/questions/12332528/how-to-display-list-items-as-columns

  -webkit-column-width: 250px;
  -moz-column-width: 250px;
  -o-column-width: 250px;
  -ms-column-width: 250px;
  column-width: 250px;

  -webkit-column-rule-style: hidden;
  -moz-column-rule-style: hidden;
  -o-column-rule-style: hidden;
  -ms-column-rule-style: hidden;
  column-rule-style: hidden;
}

.index-pins {
  width: 100%;
}

.pin-form > h3 {
  height: 25px;
  background-color: #3F88B9;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
}

.pin-form > label {
  align-content: flex-start;
}

.pin-form > input,
.pin-form > textarea {
  align-content: flex-end;
}

.pin-form {
  text-align: center;
  font-weight: bold;
  color: #979696;
  line-height: 1;
}

.pin-form > form > input {
  width: 100%;
  display: block;
  text-align: center;
  margin: auto;
  border: none;
  border-bottom: solid 2px #3F88B9;
  transition: border 0.3s;
  line-height: 1.6
}

.pin-form > form > input:focus {
  outline: 0;
  cursor: pointer;
  box-shadow: none;
  border-bottom: solid 3px #1E84A4
}

.pin-form > form > textarea {
  max-width: 174px;
  border-radius: 4px;
  border: solid 1px #1E84A4
}

#image-preview {

  height: 150px;
  width: 150px;
}

.pin-index-item  {
  display: block;
  border-radius: 10px;
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
}

.pin-index-item:hover {
  cursor: zoom-in;
  background-color: #C8C8C8;
  box-shadow: 10px 5px 5px -4px #EFEFEF;
}

.imagedropshadow {
  box-shadow: inset 0px -30px 186px -9px #A1A8A6;
}

.pin-index-item > a > img {
  width: 100% !important;
  border-radius: 5px;
}

.pin-show-page, .pin-index-page {
  background-color: #E9E8E8;
}

.Dropdown-control {
  border: 1px solid black;
  margin-bottom: 8px;
  height: 22px;
  color: darkslateblue;
  border-radius: 8px;
}

.dropdown-root{
  position: absolute;
  width: 185px;
  left: 17%;
}

.pin-form > form > input[type="submit"],
.pin-form > form > input[type="submit"]:hover {
  margin-top: 35px;
}
