
.hidden {
  display: none;
}

.login-page {
  height: 100%;
  width: 100%;
  padding-top: 150px;
  display: flex;
  justify-content: center;
}


.session-box {
  width: 350px;
  height: auto;;
  background-color: #fff;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 5px;
  align-items: center;
  text-align: center;
  align-content: center;
  padding: 20px;
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 40px;
  margin: auto auto;
  line-height: 1.5;
  position: absolute;
}
.logo-container {
  display: flex;
}

.logo {
  margin: auto;
}

.session-box > div {
  font-family: 'Antic', sans-serif;
  font-size: 18px;
}

.session-box > div > a {
  text-decoration: none;
  font-weight: bold;
}


.session-submit-button {
  position: relative;
}

.session-errors {
  font-family: 'Antic', sans-serif;
  font-size: 15px;
  list-style: none;
  height: 70px;
  width: 70px;
  z-index: 1000;
  position: absolute;
  background: white;
  border: 2px solid #3F88B9;
  border-radius: 5px;
  top: 12px;
  left: 232px;
  width: 250px;
  height: auto;
  padding: 10px;
}

.session-errors:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 14px solid white;
  top: 11px;
  left: -13px;
}

.session-errors:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 15px solid #3F88B9;
  top: 10px;
  left: -16px;
}

.session-form > label > input {
  display: block;
  text-align: center;
  margin: auto;
  border: none;
  border-bottom: solid 2px #3F88B9;
  transition: border 0.3s;
  line-height: 2.5
}

.session-form > label > input.focus,
.session-form > label > input:focus {
  outline: 0;
  cursor: pointer;
  box-shadow: none;
  border-bottom: solid 3px #1E84A4
}


input[type="submit"] {
  border-radius: 15px;
  background-color: #C1E6F2;
  border: 1px solid black;
  font-size: 14px;
  width: 70px;
  height: 30px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #61C5E3;
  border: 2px solid black;
}
