.logo {
  height: 30px !important;
  width: 30px !important;
  margin-top: 8px;
}

.navigation-header {
  display: flex;
  padding: 7px;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  height: 45px;
  border-bottom: 1px solid #D1D0D0;
  color: #979696;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #E9E8E8
}

.user-dropdown {
  padding: 5px;
  font-size: 2.0vw !important;
  width: 200px;
  display: inline-block;
  justify-content: center;
  font-size: 25px;
  padding-left: 0px;
  max-width: 140px;
  padding-right: 0px;
  display: inline-flex;
  align-items: center;
}
.user-dropdown > div {
  margin-left: 4px;
  margin-top: 4px;
}

.user-dropdown > img {
  width: 30px;
  height: 30px;
  border-radius: 20px
}

.dropdown {
  display: block;
  position: absolute;
  background-color: white;
  width: 160px;
  height: 142px;
  border-bottom-left-radius: 16px;
  top: 60px;
  right: 8%;
  border-bottom-right-radius: 16px;
  border: 2px solid #3F88B9;
  border-top: white;
}


.clickable, #clickable {
  background-color: #E9E8E8!important;
  border-radius: 20px!important;
  box-shadow: none;
}

.navlogo-container {
  height: 50px;
  width: 50px;
}

.edit-account {
  position: relative;
  height: 31px;
}

.clickable:hover, #clickable:hover {
  background-color: #D1D0D0 !important;
  cursor: pointer;
}

.dropdown > br{
  position: relative;;
}

.logout-button{
  width: 160px;
  cursor: pointer;
  padding-top: 15px;
  position: relative;
  top: -17px;
}

a, a:visited {
  color: #979696;
  text-decoration: none;
}

.logout-button:hover {
  color: navy;
  background-color: #D1D0D0 !important;
  padding: inherit;
  border-bottom-left-radius: 14px;
  padding-bottom: 17px;
  border-bottom-right-radius: 14px;
  padding-top: 15px;
  top: -17px;
  position: relative;
}

a > h1 {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 17px;
}

a > h1:hover {
  color: navy;
  background-color: #D1D0D0 !important;
}

.account-button{
  width: 160px;
  cursor: pointer;
  padding-top: 15px;
  position: relative;
  top: -17px;
}

.account-button:hover {
  color: navy;
  background-color: #D1D0D0 !important;
  padding: inherit;
  padding-bottom: 17px;
  padding-top: 15px;
  top: -17px;
  position: relative;
}

.searchbar {
  background-color: white;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 28%;
  padding-left: 10px;
}

.home-button {
  padding: 9px;
  margin-top: 7%;
  font-size: 2.2vw;
}
