html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}

html, body, #root, #app, #app > div {
  height: 100%;
  width: 100%;
  align-items: center;
  font-family: 'Antic', sans-serif;
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

.logo {
  background-image: image_url('logo.png');
  height: 60px;
  width: 60px;
  background-size: 100%;
}

#root {
  background-color: #EDEDED;
  position: absolute;;
}

#root > div {
  margin: 0 auto;
}
