.user-show-page {
  padding: 30px;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: #E9E8E8;
}

.user-info {
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  justify-content: space-between;
}

.following-info > h1 {
  text-align: center;
  font-size: 37px !important;
  font-weight: bold;
}

.following-info > strong {
  font-weight: bold
}

.following-info {
  font-size: 20px;
}

.image-show {
  width: 200px;
}

.image-show > img {
  width:100%;
  border-radius: 200px;
}

.create-board {
  width: 90%;
  border: 1px solid #3F88B9;
  border-radius: 10px;
  max-height: 190px;
  opacity: 0.6;
  background-color: white;
  margin-bottom: 31px;
}

.add-board {
  text-align: center;
  cursor: pointer;
}

.add-board > h2 {
  height: 130px;
  font-size: 125px;
}

.add-board > h4 {
  font-size: 35px;
  margin-bottom: 20px;
}

.tabs {
  margin-top: 30px;
}

.tab-header {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  color: #979696;
  text-align: center;
}

.tab-header > li {
  height: 30px;
  padding-top: 5px;
}

.tab-header > li:first-of-type {
  width: 95px;
}

.tab-header > li:last-of-type {
  width: 65px;
}

.following-info > h1 {
  font-size: 40px;
  font-weight: 300;
}

.board-default {
  max-height: 165px;
}
